ion-row{
    margin-left: 20px;
    display: flex;
    // justify-content: space-between;
}
.downloadbtn{
    // display: flex;
    // justify-content: center;
    width:60%;
    margin-top: 10px;
    // align-items: center;
}