<ion-header [translucent]="true">
  <ion-toolbar color="secondary">

    <ion-thumbnail slot="start">
      <ion-img src="assets/images/cbtlogo.ico"></ion-img>
    </ion-thumbnail>

    <ion-buttons slot="start">
      <ion-button auto-hide="false" (click)="qrcodescan()">QRScanner</ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button auto-hide="false">Reports</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="logoutHandler()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>


</ion-header>
<ion-content class="ml-3 text-center">
  <ion-list *ngFor="let ele of common.formReport">
    <ion-row>
      <ion-label>
        FormNumber:
      </ion-label>
      <ion-item>

        <p>{{ele.formNumber}}</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label>
        EqpName:
      </ion-label>
      <ion-item>

        <p>{{ele.eqpName}}</p>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label>
        Shift:
      </ion-label>
      <ion-item>

        <p>{{ele.shiftName}}</p>

      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label>
        Operator:
      </ion-label>
      <ion-item>

        <p>{{ele.operator}}</p>

      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label>
        Date:
      </ion-label>
      <ion-item>

        <p>{{ele.datevalue}}</p>

      </ion-item>
    </ion-row>
  </ion-list>
  <ion-button (click)="generateReport()" class="downloadbtn">Generate Report(Download)</ion-button>
</ion-content>