.bgColor{
background: linear-gradient(135deg, #239ac9 50%, white 50%, white);
  height:100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.userinput{
    border: 1px solid black;
    border-radius: 30px;
}