<ion-app>
  <ion-content>
    <div class="bgColor">
      <form class="input" [formGroup]="loginForm">

        <ion-label>User name</ion-label>
        <ion-input type="email" formControlName="username" class="userinput" autocomplete="off"></ion-input>

        <br>

        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password" class="userinput" autocomplete="off">
        </ion-input>

        <ion-button type="submit" (click)="submit()">Submit</ion-button>
      </form>
    </div>

  </ion-content>
</ion-app>