.label{
    
display: flex;
align-items: center;
margin-left: 10px;
font-size: 12px;
}
p{
margin-left: 10px;
font-size: 12px;

}
.checklabel{
font-size: 12px;
display: flex;
    align-items: center;
    margin-left: 5px;
}
ion-input{
    float: right;
  clear: both;
}
.rowdata{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}
.formcontent{
    overflow: hidden;
}