<ion-header [translucent]="true">
  <ion-toolbar color="secondary">

    <ion-thumbnail slot="start">
      <ion-img src="assets/images/cbtlogo.ico"></ion-img>
    </ion-thumbnail>

    <ion-buttons slot="start">
      <ion-button auto-hide="false" (click)="qrcodescan()">QRScanner</ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button auto-hide="false" (click)="navigateTOReport()">Reports</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>


</ion-header>

<ion-content class="formcontent">
  <ion-slides #slideForm1>
    <ion-slide>

      <ion-list>
        <ion-row class="rowdata">
          <ion-label class='label'>Form Number:</ion-label>
          <ion-item>
            <ion-input type="text" [(ngModel)]="user.formNumber" name="formNumber">
            </ion-input>
            <p>{{formNumbers}}</p>

          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>Shift:</ion-label>
          <ion-item>
            <ion-select placeholder="Select Shift" [(ngModel)]="user.shiftName">
              <ion-select-option>Shift A</ion-select-option>
              <ion-select-option>Shift B</ion-select-option>
              <ion-select-option>Shift C</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>EqpName:</ion-label>
          <ion-item>
            <ion-input type="text" [value]=common.eqpName readOnly></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>Date:</ion-label>
          <ion-item>
            <ion-input type="datetime-local" required [(ngModel)]="user.datevalue"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>Frequency:</ion-label>
          <ion-item>
            <ion-select placeholder="Select Frequency" [(ngModel)]="user.frequency">
              <ion-select-option>Weekly</ion-select-option>
              <ion-select-option>Monthly</ion-select-option>
              <ion-select-option>Quarterly</ion-select-option>
              <ion-select-option>Halfyearly</ion-select-option>
              <ion-select-option>Yearly</ion-select-option>


            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>Operator Name:</ion-label>
          <ion-item>
            <ion-select placeholder="Select Operator" [(ngModel)]="user.operator">
              <ion-select-option>Operator 1</ion-select-option>
              <ion-select-option>Operator 2</ion-select-option>
              <ion-select-option>Operator 3</ion-select-option>
              <ion-select-option>Operator 4</ion-select-option>


            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="mt-4">
          <p>1.Abnormal Sound(Cooling pump)</p>
        </ion-row>

        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel" value="y">YES</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel" value="n">NO</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>2.Water Flow in Return Line</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">OK</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NOT OK</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>3.Abnormal Sound(C)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">YES</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NO</ion-label>
        </ion-row>
        <ion-button icon-right (click)="next()" style="float: right;">Next <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <!-- </form> -->
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>

        <ion-row class="rowdata mt-3">
          <ion-label class='label'>4.Oil Pressure(1.0 - 3.0)Kg/CMSQ</ion-label>
          <ion-item>
            <ion-input type="text" required width="10%" [(ngModel)]="user.oilpressure"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata mt-3">
          <ion-label class='label'>5.Oil Flow(10-12)Drops/Minute</ion-label>
          <ion-item>
            <ion-input type="text" required width="10%" [(ngModel)]="user.oilFlow"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="mt-3">
          <p>6.Shut down taken(Compressor)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">YES</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NO</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>7.Shut down permission taken(Cooling Pump)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">OK</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NOT OK</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>8.Oil Level (Main Chamber)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">YES</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NO</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>9.Oil Level(Piston Lub.Chamber)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">Low Level</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">Full Level</ion-label>
        </ion-row>
        <div style="text-align: center;margin-top: 10px;display: flex;
  justify-content: space-between;">
          <ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon> Prev
          </ion-button>
          <ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-list>

    </ion-slide>
    <ion-slide>
      <ion-list>


        <ion-row class="mt-3">
          <p>10.V belt tension</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">OK</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NOT OK</ion-label>
        </ion-row>
        <ion-row class="mt-3">
          <p>11. V-pulley condition(Driving)</p>
        </ion-row>
        <ion-row>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">Ok</ion-label>
          <ion-checkbox color="primary" class="ml-3">
          </ion-checkbox>
          <ion-label class="checklabel">NOT OK</ion-label>
        </ion-row>
        <ion-row class="rowdata mt-3">
          <ion-label class='label'>MotorTemp:</ion-label>
          <ion-item>
            <ion-input type="text" required [(ngModel)]="user.motortemp"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="rowdata">
          <ion-label class='label'>Remarks:</ion-label>
          <ion-item>
            <ion-input type="text" required [(ngModel)]="user.remarks"></ion-input>
          </ion-item>
        </ion-row>

        <div style="text-align: center;margin-top: 10px;display: flex;
        justify-content: space-between;">
          <ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon> Prev
          </ion-button>
          <ion-button icon-right (click)="submitreport()">Submit
          </ion-button>
        </div>

      </ion-list>

    </ion-slide>
  </ion-slides>

</ion-content>