<ion-header [translucent]="true">
  <ion-toolbar color="secondary">

    <ion-thumbnail slot="start">
      <ion-img src="assets/images/cbtlogo.ico"></ion-img>
    </ion-thumbnail>

    <ion-buttons slot="start">
      <ion-button auto-hide="false">QRScanner</ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button auto-hide="false" (click)="navigateTOReport()">Reports</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>


</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Enter text for QR generation" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <ion-button full icon-left (click)="createCode()">
    <ion-icon name="barcode"></ion-icon>CreateQRCode
  </ion-button>
  <ion-button full icon-right (click)="scanCode()">ScanQRCode</ion-button>
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value:{{createdCode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      <p>Result:{{scannedCode}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>